/*font-family: 'Inter', sans-serif;
/font-family: 'Monomaniac One', sans-serif;
font-family: 'Playfair', serif; */
:root {
    --bg-color: #F0EDED;
    --main-font: 'Inter', sans-serif;
    --no-fill: transparent;
}

body {
    background-color: var(--bg-color);
    font-family: var(--main-font);

}   
.intro {
    max-width: 800px;
    margin: 0 auto;
}
.logo {
    max-width: 50px;
}
.intro h1,
 h2 {
    text-transform: uppercase;
    line-height: 100%;
}
.intro  h1  {
    font-size: 60px;
    font-weight: 700;
}
.intro h2 {
    font-size: 30px;
    font-weight: 300;
    text-align: right;
    padding-top: 10px;
}
img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.bold {
font-weight: 600;
}
.caps {
    text-transform: uppercase;
}
.navbar {
    background-color: transparent !important;
}

.home-button {
    background-color: black;
    text-decoration: none;
    color: #EFEBE6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}