/*font-family: 'Inter', sans-serif;
/font-family: 'Monomaniac One', sans-serif;
font-family: 'Playfair', serif; */
:root {
    --bg-color: #F0EDED;
    --other-grey: #D9D9D9;
    --main-font: 'Inter', sans-serif;
    --accent-font: 'Playfair', serif;
    --no-fill: transparent;
}

body {
    background-color: var(--bg-color);
    font-family: var(--main-font);

}   
.navbar {
    background-color: transparent !important;
}
.logo {
    max-width: 50px;
}
.tall {
    min-height: 100px;
}
.intro {
    max-width: 800px;
    margin: 0 auto;
}
@media (max-width: 800px) {
    .intro{
        padding: 40px 10px 0px 10px;
    }
}
@media (min-width:800px) {
    
}
h1,
 h2 {
    text-transform: uppercase;
    line-height: 100%;
}
h1  {
    font-size: 60px;
    font-weight: 700;
}
.intro h2 {
    font-size: 30px;
    font-weight: 300;
    text-align: right;
    padding-top: 10px;
}
img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.bold {
font-weight: 600;
}
.caps {
    text-transform: uppercase;
}


.home-button {
    background-color: var(--other-grey);
    text-decoration: none;
    color: black;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    margin-top: 90px;
}
.projects-intro {
    max-width: 800px;
    margin: 0 auto;
    
    text-align: right;
}
